AirVentsCadWpf/Service References/ServiceReference6/HostingWindowsForms.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HostingWindowsForms.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HostingWindowsForms.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSqlQuery.TaskParam">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SqlQuery.TaskParam" nillable="true" type="tns:SqlQuery.TaskParam" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSqlQuery.TaskParam" nillable="true" type="tns:ArrayOfSqlQuery.TaskParam" />
  <xs:complexType name="SqlQuery.TaskParam">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentVersion" type="xs:int" />
      <xs:element minOccurs="0" name="FileId" type="xs:int" />
      <xs:element minOccurs="0" name="ParentolderId" type="xs:int" />
      <xs:element minOccurs="0" name="TaskId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SqlQuery.TaskParam" nillable="true" type="tns:SqlQuery.TaskParam" />
</xs:schema>