AirVentsCadWpf/Service References/ServiceReference1/bomtable4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BomPartList" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BomPartList" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBomPartListClass.BomCells">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BomPartListClass.BomCells" nillable="true" type="tns:BomPartListClass.BomCells" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBomPartListClass.BomCells" nillable="true" type="tns:ArrayOfBomPartListClass.BomCells" />
  <xs:complexType name="BomPartListClass.BomCells">
    <xs:sequence>
      <xs:element minOccurs="0" name="Errors" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialDocMgr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="АссоциированныйОбъект" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Количество" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Конфигурация" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Материал" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="МатериалЦми" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="МатериалЦмиDocMgr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Наименование" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="НаименованиеDocMgr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Обозначение" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ОбозначениеDocMgr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ПоследняяВерсия" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Путь" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Раздел" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="РазделDocMgr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ТипФайла" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ТолщинаЛиста" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ТолщинаЛистаDocMgr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Уровень" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BomPartListClass.BomCells" nillable="true" type="tns:BomPartListClass.BomCells" />
</xs:schema>