AirVentsCadWpf/Service References/ServiceReference1/bomtable43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.14.86:8080/bomtable?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://192.168.14.86:8080/bomtable?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BomPartList" />
  <xs:element name="PathById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PathByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PathByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PathByNameAsm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PathByNameAsmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PathByNameAsmResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsmNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AsmNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AsmNamesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="assemblyPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BomPartList" minOccurs="0" name="BomResult" nillable="true" type="q2:ArrayOfBomPartListClass.BomCells" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BomParts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assemblyPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pdmBaseName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="constring" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BomPartsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BomPartList" minOccurs="0" name="BomPartsResult" nillable="true" type="q3:ArrayOfBomPartListClass.BomCells" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>