AirVentsCadWpf/Service References/ServiceReference5/BomTableService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BomTableService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srvkb:8085/bomtable?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://srvkb:8085/bomtable?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srvkb:8085/bomtable?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://srvkb:8085/bomtable?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BomPartList" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBomTableService_PathById_InputMessage">
    <wsdl:part name="parameters" element="tns:PathById" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_PathById_OutputMessage">
    <wsdl:part name="parameters" element="tns:PathByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_PathByNameAsm_InputMessage">
    <wsdl:part name="parameters" element="tns:PathByNameAsm" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_PathByNameAsm_OutputMessage">
    <wsdl:part name="parameters" element="tns:PathByNameAsmResponse" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_AsmNames_InputMessage">
    <wsdl:part name="parameters" element="tns:AsmNames" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_AsmNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:AsmNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_Bom_InputMessage">
    <wsdl:part name="parameters" element="tns:Bom" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_Bom_OutputMessage">
    <wsdl:part name="parameters" element="tns:BomResponse" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_BomParts_InputMessage">
    <wsdl:part name="parameters" element="tns:BomParts" />
  </wsdl:message>
  <wsdl:message name="IBomTableService_BomParts_OutputMessage">
    <wsdl:part name="parameters" element="tns:BomPartsResponse" />
  </wsdl:message>
  <wsdl:portType name="IBomTableService">
    <wsdl:operation name="PathById">
      <wsdl:input wsam:Action="http://tempuri.org/IBomTableService/PathById" message="tns:IBomTableService_PathById_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBomTableService/PathByIdResponse" message="tns:IBomTableService_PathById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PathByNameAsm">
      <wsdl:input wsam:Action="http://tempuri.org/IBomTableService/PathByNameAsm" message="tns:IBomTableService_PathByNameAsm_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBomTableService/PathByNameAsmResponse" message="tns:IBomTableService_PathByNameAsm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AsmNames">
      <wsdl:input wsam:Action="http://tempuri.org/IBomTableService/AsmNames" message="tns:IBomTableService_AsmNames_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBomTableService/AsmNamesResponse" message="tns:IBomTableService_AsmNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bom">
      <wsdl:input wsam:Action="http://tempuri.org/IBomTableService/Bom" message="tns:IBomTableService_Bom_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBomTableService/BomResponse" message="tns:IBomTableService_Bom_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BomParts">
      <wsdl:input wsam:Action="http://tempuri.org/IBomTableService/BomParts" message="tns:IBomTableService_BomParts_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBomTableService/BomPartsResponse" message="tns:IBomTableService_BomParts_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBomTableService" type="tns:IBomTableService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PathById">
      <soap:operation soapAction="http://tempuri.org/IBomTableService/PathById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PathByNameAsm">
      <soap:operation soapAction="http://tempuri.org/IBomTableService/PathByNameAsm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AsmNames">
      <soap:operation soapAction="http://tempuri.org/IBomTableService/AsmNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Bom">
      <soap:operation soapAction="http://tempuri.org/IBomTableService/Bom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BomParts">
      <soap:operation soapAction="http://tempuri.org/IBomTableService/BomParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BomTableService">
    <wsdl:port name="BasicHttpBinding_IBomTableService" binding="tns:BasicHttpBinding_IBomTableService">
      <soap:address location="http://srvkb:8085/bomtable" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>